<!DOCTYPE html>
<html>
  <head>
    <title>Nogalini sevi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ludzu Nogalini sevi</h1>
    <p>Tu nevienam nepietrūksi</p>
  </body>
</html>
