<!DOCTYPE html>
<html>
  <head>
    <title>Volejbols</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><strong>Rīt(rīt), 9. septembrī, laikam 19:00 mūsu vidusskolas zālē volejbols.</strong> nācēji reaģē volejbola grupā, uz majaslapas linka ziņas</h1>
    <p class = "center">Maksa par volejbolu tiks aprēķināta vēlāk</p>
  </body>
</html>
