body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0aa9e7;
}

.center {
  border: 300px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  
}